        /*row 내에 있는 div에게 보더를 추가.*/
        .row>div {
            border: 1px solid black;
        }

        /*https://velog.io/@anna/css-sticky-sticky-sidebar-example*/
        /* // 좌측 본문 */
        .article {
            display: inline-block;
        }

        /* // 좌측 사이드바 */
        .side {
            float: left;
            position: sticky;
            top: 50px;
            margin: 10px;
        }